form {
    background-color: antiquewhite;
    width: 600px;
    margin: auto;
    border-radius: 15px;
}
h2 {
    color: blue;
    text-align: center;
}
tr{
    background-color: rgb(243, 196, 152);
    text-align: center;
    
}
tr:nth-child(odd){
    background-color: rgb(179, 250, 241);
}
#output {
    width: 25%;
    margin: 100px auto;
    height: 300px;
}
